/HelloWorld/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/
/JavaApplication24/nbproject/private/
/JavaApplication24/build/
/TestCode/nbproject/private/
/TestCode/build/
/Day2/nbproject/private/
/Day2/build/
/nbproject/private/
/build/
/dist/